{% extends 'core/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% load static %}
{% block content %}

    <div style=padding-top:30px class="container py-6">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 mx-auto col-sm-8 col-lg-6">
                <img src="{% static 'recipebookopen.svg' %}" class="d-block mx-lg-auto img-fluid" alt="LetsCook" loading="lazy">
            </div>
            <div class="col-lg-6">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-5">Let's Cook!</h2>
                    </div>
                </div>

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">Find, share, and save your favorite recipes to make meal planning easier.
                        </p>
                    </div>
                </div>

                {% if request.user.is_authenticated %}

                <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-success px-4 me-md-2" href="{% url 'recipe:view_recipes' %}" role="button">All Recipes</a>
                    <a class="btn btn-outline-secondary px-4" href="{% url 'recipe:view_my_recipes' %}" role="button">My Recipes</a>
                </div>

                {% else %}
                <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-success px-4 me-md-2" href="{% url 'core:signin' %}" role="button">Sign In</a>
                    <a class="btn btn-outline-secondary px-4" href="{% url 'core:signin' %}" role="button">Sign Up</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}
