{% extends 'core/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container py-5">
    <div class="justify-content-center align-items-center">

        <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
                <div class="mt-3 mb-4">
                    <img src="{{ request.user.profile.image.url }}" class="rounded-circle img-fluid"
                        style="width: 200px;" />
                </div>
                <h4 class="mb-2">{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                <p class="text-muted mb-4">@{{ request.user.username }} <span class="mx-2">|</span> <a
                        href="#!">{{ request.user.email }} </a></p>
                        <h1>
                            Update Your Password
                        </h1>
            </div>

            <div class="card-body text-left">
                        <form action="." method="post">
                            {% csrf_token %}
                  
                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                              <label class="form-label" for="old_password">Your Current Password:</label>
                              <input type="password" id="old_password" class="form-control form-control-lg" name="old_password"/>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="new_password">Your New Password:</label>
                                <input type="password" id="new_password" class="form-control form-control-lg" name="new_password"/>
                            </div>                            
                  
                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="confirm_new_password">Confirm New Password:</label>
                                <input type="password" id="confirm_new_password" class="form-control form-control-lg" name="confirm_new_password"/>
                            </div>

                            <!-- Submit button -->
                            <input type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg btn-block"></button>
                            <div class="d-flex justify-content-around  mb-4">
                            </div>
                  
                            
                          </form>

                <br>
            </div>
        </div>
    </div>
{% endblock %}